defaults/flow.json
[{"id":"583a5cdf.1b99dc","type":"watson-conversation-v1","z":"1dc6b837.3c51c8","name":"","workspaceid":"","multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":650,"y":80,"wires":[["8a356b59.8a0068"]]},{"id":"273ef76f.e8f098","type":"function","z":"1dc6b837.3c51c8","name":"API request parameters","func":"var query = msg.payload.context.machine_problem +\" \"+ msg.payload.context.machine_type + \" \" +msg.payload.context.brand;\n\nmsg.url = global.get(\"DiscoveryApiPath\")+query;\n\nmsg.headers = {\n    'Authorization':\"Basic \"+global.get(\"DiscoveryApiAuth\"),\n    'Content-Type':\"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":260,"wires":[["185f3320.6f1495"]]},{"id":"185f3320.6f1495","type":"http request","z":"1dc6b837.3c51c8","name":"GET API from discovery","method":"GET","ret":"txt","url":"","tls":"","x":170,"y":300,"wires":[["8b470c13.616258"]]},{"id":"8b470c13.616258","type":"json","z":"1dc6b837.3c51c8","name":"convert discovery to json","pretty":false,"x":170,"y":340,"wires":[["6521ab18.fed984"]]},{"id":"5454e4b.ec0159c","type":"debug","z":"1dc6b837.3c51c8","name":"","active":true,"console":"false","complete":"true","x":830,"y":240,"wires":[]},{"id":"6521ab18.fed984","type":"function","z":"1dc6b837.3c51c8","name":"collect information from discovery","func":"var text = \"\";\nvar price = \"\";\nvar manual = \"\";\n\nif(msg.payload.results.length > 0){\n    text = msg.payload.results[0].text;\n    price = msg.payload.results[0].price;\n    manual = msg.payload.results[0].manual;\n}\n\nmsg.params.context.text = text;\nmsg.params.context.price = price;\nmsg.params.context.manual = manual;\nmsg.payload = \"price and text\";\n\nmsg.params = {\n    \"username\":global.get(\"ConversationUserName\"),\n    \"password\":global.get(\"ConversationPassword\"),\n    \"workspace_id\":global.get(\"WorkspaceID\")\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":380,"wires":[["583a5cdf.1b99dc"]]},{"id":"8a356b59.8a0068","type":"function","z":"1dc6b837.3c51c8","name":"check intents","func":"var text = \"\";\n\nfor (i =0; i<msg.payload.output.text.length;i++){\n    text += msg.payload.output.text[i] +\"\\n\";\n}\n\nmsg.payload.text = text;\n\nif(msg.payload.context.send_discovery){\n        msg.params = {\n            context:msg.payload.context\n        };\n        return [null,null,msg];\n}\n\nif(msg.payload.context.schedule_meeting){\n        msg.details = msg.payload;\n        return [null,msg,null];\n}\n\nreturn [msg,null,null];\n","outputs":"3","noerr":0,"x":290,"y":160,"wires":[["f9d18700.b2c298"],["7575c12b.100938","f9d18700.b2c298"],["273ef76f.e8f098","f9d18700.b2c298"]]},{"id":"a90bf2aa.c037e","type":"function","z":"1dc6b837.3c51c8","name":"schedule meeting and send email","func":"var start_time = msg.details.context.time;\nvar hour = start_time.substring(0,2);\nhour = parseInt(hour);\n\nif (hour > 18 || hour < 6){\n    msg.payload.text = \"Im Sorry , the time you have inserted isnt possible , please try again.\";\n    return [msg,null,null,null,null];\n}\n\nvar random = Math.floor(Math.random() * 3);\n\nvar start_time = hour+start_time.substring(2);\nvar end_time = (hour+1)+start_time.substring(2);\n\nvar start = msg.details.context.date+\"T\"+start_time+\"+03:00\";\nvar end = msg.details.context.date+\"T\"+end_time+\"+03:00\";\n\nvar client_email = { \n    \"payload\": \"Our thecnician will get to you at : \"+msg.details.context.date+\" in \"+msg.details.context.time+\" The Price of technician visit : \"+msg.details.context.price+\" please be prepare with check or cash.\",\n    \"topic\":\"New Appointment !\",\n    \"to\": msg.payload[random].email\n};\n\nvar customer_details = \"Customer Details - Name : \"+msg.payload[random].name+\" , At : \"+msg.details.context.date+\" , In : \"+msg.details.context.time+\" , Address : \"+msg.payload[random].address+\" , Phone : \"+msg.payload[random].phone+\" , Email : \"+msg.payload[random].email+\" , Client Info : \"+msg.payload[random].client_info+\" , Client Problem : \"+msg.details.context.machine_problem+\" , Machine Type : \"+msg.details.context.machine_type+\" , Model : \"+msg.details.context.brand;\n\nvar technician_email = { \n    \"payload\": customer_details,\n    \"topic\":\"New Appointment !\",\n    \"to\": global.get(\"eMail\"),\n};\n\nvar technician_calendar = {\n    \"payload\": {\n        \"start\": {\"dateTime\":start},\n        \"end\": {\"dateTime\":end},\n        \"summary\": customer_details\n    }\n};\n\nmsg.payload = \"appoin add\";\n\nmsg.params = {\n    \"username\":global.get(\"ConversationUserName\"),\n    \"password\":global.get(\"ConversationPassword\"),\n    \"workspace_id\":global.get(\"WorkspaceID\")\n};\n\nreturn [null,msg,technician_email,technician_calendar,client_email];","outputs":"5","noerr":0,"x":580,"y":340,"wires":[["f9d18700.b2c298"],["583a5cdf.1b99dc"],["4f08adfd.02176c"],["41b56c35.96b7f4"],[]]},{"id":"41b56c35.96b7f4","type":"google calendar out","z":"1dc6b837.3c51c8","google":"","name":"","calendar":"","x":890,"y":380,"wires":[]},{"id":"4f08adfd.02176c","type":"e-mail","z":"1dc6b837.3c51c8","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":850,"y":340,"wires":[]},{"id":"7575c12b.100938","type":"cloudant in","z":"1dc6b837.3c51c8","name":"","cloudant":"","database":"ryc","service":"ryc-2017-pa-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":470,"y":240,"wires":[["a90bf2aa.c037e"]]},{"id":"21e80bf0.f7f0a4","type":"inject","z":"1dc6b837.3c51c8","name":"active global variables","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":240,"y":440,"wires":[["5a5354e1.2fdd2c"]]},{"id":"5a5354e1.2fdd2c","type":"function","z":"1dc6b837.3c51c8","name":"set global variables","func":"//IBM Cloud Discovery User name :\nvar discoveryUsername = \"\";\n//IBM Cloud Discovery Password :\nvar discoveryPassword = \"\";\n//IBM Cloud Discovery Collection ID :\nvar discoveryCollectionID = \"\";\n//IBM Cloud Discovery Environment ID :\nvar discoveryEnvironmentID = \"\";\n//IBM Cloud Conversation User Name :\nvar conversationUserName = \"\";\n//IBM Cloud Conversation Password : \nvar conversationPassword = \"\";\n//IBM Cloud Conversation WorkSpade ID :\nvar conversationWorkspaceID = \"\";\n//Your Email :\nvar eMail = \"\";\n\n//Date For Discovery Query :\nvar newDate = new Date(); \nvar year = newDate.getFullYear();\nvar month = newDate.getMonth()+1;\nvar day = newDate.getDate();\nvar date = year+\"-\"+month+\"-\"+day;\n//IBM Cloud Discovery Query Path :\nvar discoveryPath = \"https://gateway.watsonplatform.net/discovery/api/v1/environments/\"+discoveryEnvironmentID+\"/collections/\"+discoveryCollectionID+\"/query?version=\"+date+\"&count=&offset=&aggregation=&filter=&passages=true&highlight=true&return=&natural_language_query=\";\n\nmsg.payload = discoveryUsername+\":\"+discoveryPassword;\n\nglobal.set(\"DiscoveryApiPath\",discoveryPath);\nglobal.set(\"eMail\",eMail);\nglobal.set(\"ConversationUserName\",conversationUserName);\nglobal.set(\"ConversationPassword\",conversationPassword);\nglobal.set(\"WorkspaceID\",conversationWorkspaceID);\n\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":440,"wires":[["4f5dc880.4e148"]]},{"id":"4f5dc880.4e148","type":"base64","z":"1dc6b837.3c51c8","name":"","x":625,"y":440,"wires":[["67538dc8.75ea14"]]},{"id":"67538dc8.75ea14","type":"function","z":"1dc6b837.3c51c8","name":"after encode","func":"global.set(\"DiscoveryApiAuth\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":781,"y":440,"wires":[[]]},{"id":"39696d2b.4d9b62","type":"websocket out","z":"1dc6b837.3c51c8","name":"","server":"cf6d4c81.b2b5","client":"","x":980,"y":180,"wires":[]},{"id":"f4b512ed.6f016","type":"websocket in","z":"1dc6b837.3c51c8","name":"","server":"cf6d4c81.b2b5","client":"","x":120,"y":80,"wires":[["2f99c12d.8efb0e","1aca137f.0d44fd"]]},{"id":"2f99c12d.8efb0e","type":"function","z":"1dc6b837.3c51c8","name":"delete session","func":"delete msg._session;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":40,"wires":[["39696d2b.4d9b62"]]},{"id":"a233e363.58f16","type":"http in","z":"1dc6b837.3c51c8","name":"","url":"/mychat","method":"get","upload":false,"swaggerDoc":"","x":393,"y":500,"wires":[["50d0c036.00de2"]]},{"id":"fc9b836f.6bad4","type":"http response","z":"1dc6b837.3c51c8","name":"","statusCode":"","headers":{},"x":653,"y":500,"wires":[]},{"id":"50d0c036.00de2","type":"template","z":"1dc6b837.3c51c8","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n\n    document.getElementById(\"message\")\n        .addEventListener(\"keyup\", function(event) {\n        event.preventDefault();\n        if (event.keyCode == 13) {\n            document.getElementById(\"send_btn\").click();\n        }\n    });\n\n  var wsUri = \"wss://{{req.headers.host}}/mychatws\";\n  \n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: white;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 30%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","output":"str","x":533,"y":500,"wires":[["fc9b836f.6bad4"]]},{"id":"1aca137f.0d44fd","type":"json","z":"1dc6b837.3c51c8","name":"","pretty":false,"x":290,"y":80,"wires":[["77a50249.b2c7fc"]]},{"id":"77a50249.b2c7fc","type":"function","z":"1dc6b837.3c51c8","name":"convert to watson","func":"global.set(\"chatts\",msg.payload.ts);\nmsg.payload = msg.payload.message;\n\nmsg.params = {\n    \"username\":global.get(\"ConversationUserName\"),\n    \"password\":global.get(\"ConversationPassword\"),\n    \"workspace_id\":global.get(\"WorkspaceID\")\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["583a5cdf.1b99dc"]]},{"id":"f9d18700.b2c298","type":"function","z":"1dc6b837.3c51c8","name":"convert from watson","func":"var text = msg.payload.text;\n\n//for (i =0; i<msg.payload.output.text.length;i++){\n//    text += msg.payload.output.text[i] +\"\\n\";\n//}\n\nmsg.payload = {\n    \"message\":text,\n    \"user\":\"TechBot\",\n    \"ts\":global.get(\"chatts\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":180,"wires":[["39696d2b.4d9b62"]]},{"id":"cf6d4c81.b2b5","type":"websocket-listener","z":"","path":"/mychatws","wholemsg":"false"}]